body{
	font-family:"raleway",sans-serif;
}
.top_wrapper{
	width:100%;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
	text-align: left;
	background-color:gray;
	display: flex;
}

.column{
/*	width:400px;*/
	background-color: lightblue;
	flex: 1;
}
.column2{
	background-color: lightgray;
	flex: 2;
}

img{
	width: 100%;
}

.blankcolumn{
	background-color: lightblue;
	flex:1;
}
.content{
/*	width:400px;*/
	background-color: lightgray;
	flex: 2;
	display: flex;
}
.column3{
	background-color: white;
	flex:1;
}
.column4{
	flex:1;
}

@media screen and (max-width: 700px){
	.content{
		display: block;
	}
}

@media screen and (max-width: 400px){
	.blankcolumn{
		display: none;
	}
}