body{
	font-family:"raleway",sans-serif;
}
#fix {
position:relative;
z-index:1000;
}
.dropbtn {
    background-color: #db506a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 160px;
}
.dropdown {
    position: absolute;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #77b5be;
    min-width: 160px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
	background-color: e7fafd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #db506a;
}
.fullscreen {
	height: 100%;
	width: 100%;
	position: relative;
}
img{
	max-width:70%;
	max-height: 130%;
	float:right;
	position: absolute;
	bottom: -20;
	right: 0;
}