.container {
	width:5000px;
	height:5000px;
	position: relative;
	background-color: gray;
}
.pacman {
  width: 0px;
  height: 0px;
  border-right: 1000px solid transparent;
  border-top: 1000px solid black;
  border-left: 1000px solid black;
  border-bottom: 1000px solid black;
  border-radius: 1000px;
  transform: rotate(-145deg);
  position: absolute;
  text-align: center;
  float: center;
}
.pacman2 {
  width: 0px;
  height: 0px;
  border-right: 970px solid transparent;
  border-top: 970px solid white;
  border-left: 970px solid white;
  border-bottom: 970px solid white;
  border-radius: 970px;
  transform: rotate(-146deg);
  position: absolute;
  top: 35px;
  left: 40px;
}
.pacman3 {
  width: 0px;
  height: 0px;
  border-right: 890px solid transparent;
  border-top: 890px solid black;
  border-left: 890px solid black;
  border-bottom: 890px solid black;
  border-radius: 890px;
  transform: rotate(-146deg);
  position: absolute;
  top: 99px;
  left: 96px;
}
.pacman4 {
  width: 0px;
  height: 0px;
  border-right: 600px solid transparent;
  border-top: 600px solid white;
  border-left: 600px solid white;
  border-bottom: 600px solid white;
  border-radius: 600px;
  transform: rotate(-146deg);
  position: absolute;
  top: 380px;
  left: 375px;
}